<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link href='styles.css' rel='stylesheet' />
    <style>
      h1 { color: salmon;}
    </style>
  </head>
  <body>
    <h1>Title</h1>
    <div class='test'>hello</div>{{message}}

    <script src='js/scripts.js'></script>
  </body>
</html>