<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link href='styles.css' rel='stylesheet' />
    <style>
      h1 { color: salmon;}
    </style>
  </head>
  <body>
    <h1>Title</h1>
    <div class='test'>hello</div>{{message}}

    <form action='localhost:3000/news/log' method='get'>
      <button type='submit'>Send GET Request</button>
    </form>
    <ul></ul>

    <script src='js/scripts.js'></script>
    <script>
      fetch('http://localhost:3000/news/fake') .then(res => res.json())
      .then(data => { data.forEach(user => { const markup =
      `<li>${user.name}</li>`
      document.querySelector('ul').insertAdjacentHTML('beforeend', markup) })
      console.log(data); }) .catch(error => console.log(error))
    </script>
  </body>
</html>