<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link href='styles.css' rel='stylesheet' />
    <style>
      h1 { color: salmon;}
    </style>
  </head>
  <body>

    {{message}}

    <script>
      /* fetch('http://localhost:3000/news/fake') .then(res => res.json())
      .then(data => { data.forEach(user => { const markup =
      `<li>${user.name}</li>`
      document.querySelector('ul').insertAdjacentHTML('beforeend', markup) })
      console.log(data); }) .catch(error => console.log(error)) */
    </script>
  </body>
</html>